/* ------------------------------ */
/* By Rik Janssen / Betacore.tech */
/* ------------------------------ */

/* the form styles */

.bcSANY_thumbnail{
	padding: 10px;
	border: 1px solid #DAE1E7;
	background-color: #fff;
	display: inline-block;
	min-width: 25em;
	border-radius: 2px;
	overflow: hidden;
	box-sizing: border-box;

}

.bcSANY_thumbnail img{
	border: 1px solid #CDD2D8;
	background-color: #fff;
	border-radius: 2px;
	float: left;
	margin-right: 10px;
}

.bcSANY_thumbnail p{
	margin: 0px !important;
	padding: 0px !important;
	line-height: 19px;
}

/* the plugin page footer */

div.bcALG_footer{
	overflow: hidden;
	margin-top: 100px;
	padding: 25px;
	margin-right: 20px;
	border: 1px solid #D6D6D6;
    background-color: #fff;
    border-radius: 3px;
	color: #888 !important;
}


div.bcALG_footer h2{
	font-size: 24px;
	line-height: 26px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
	color: #494949;
}

div.bcALG_footer h2 span{
	font-weight: 100;
	color: #0085ba;
}

ul.bcALG_plugins{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    margin-bottom: 30px;
}

ul.bcALG_plugins li{
	padding: 20px;
	background-color: #f1f1f1;
	border: 1px solid #D6D6D6;
	border-radius: 3px;
}

ul.bcALG_plugins li h3{
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

.bcALG_mailinglist{
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #D6D6D6;
    margin-bottom: 20px;
    
}

img.bcALG_icon{
	max-width: 110px;
	float: right;
	margin-left: 30px;
}

ul.bcALG_mailingform{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto 200px;	
	margin-bottom: 0px;
}

ul.bcALG_mailingform input[type="text"],
ul.bcALG_mailingform input[type="email"]{
	width: 100%;
	margin-top: 20px;
	background: #fff;
	color: #0085ba;
	padding: 10px 15px;
}

ul.bcALG_mailingform li{
	position: relative;
	margin: 0px;
}

ul.bcALG_mailingform input:focus+label,
ul.bcALG_mailingform input:valid+label{
	position: absolute;
	top: -5px;
	left: 0px;
	font-size: 13px;
	color: #464646;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}
ul.bcALG_mailingform input+label{
	position: absolute;
	top: 30px;
	left: 15px;
	color: #0085ba;
	font-size: 15px;
	transition: all 0.3s ease-in-out;
	pointer-events: none;
}

ul.bcALG_mailingform input[type="submit"]{
	width: 200px !important; 
	margin: 0px !important;
	margin-top: 20px !important;
	border-radius: 3px;
	background: #0085ba;
	color: #fff;
	padding: 10px 15px !important;
}

div.bcALG_logobar{
	max-height: 80px;
	position: relative;
}

div.bcALG_logobar img{
	max-height: 40px;
}

div.bcALG_logobar p{
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 0;
}

@media only screen and (max-width:1100px) {
	img.bcALG_icon{
		max-width: 80px;
	}
}

@media only screen and (max-width:782px) {
	.bcALG_plugins{
		display: block;
	}
	img.bcALG_icon{
		max-width: 60px;
	}
	ul.bcALG_mailingform{
		display: block;
	}
	
	ul.bcALG_mailingform input[type="submit"]{
		width: 100% !important;
		margin-top: 10px !important;
	}
	
	ul.bcALG_mailingform input:focus+label,
	ul.bcALG_mailingform input:valid+label{
		top: 3px;
		font-size: 13px;
	}
	
	ul.bcALG_plugins{
		display: block;
	}
	ul.bcALG_plugins li{
		margin-bottom: 10px;
	}
}